html,body{ 
	margin:0; 
	padding:0; 
	height:100%; 
	width:100%;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;

}

#content {
	padding-top: max(70px, 13vh);
	margin: auto;
}

h1, h2, h3, h4 {
	text-align: center;
}

h1 {
	color: #102e5d;
	font-weight: 600;
}

h2 {
	color: #102e5d;
	font-weight: bold;
}

.nombre-mision {
	text-align: center;
	border: 1px ridge #102e5d;
	cursor: pointer;
}

.nombre-mision h4 {
	margin-bottom: 0;
	margin-top: 0;
	font-weight: bold;
}

#primera-mision {
	border-left: 0;
}

#ultima-mision {
	border-right: 0;
}

.nombre-mision a {
    text-decoration: none !important;
	color: inherit;
}

.activa {
	color: white;
	background: #4670ae;
}

.inactiva {
	color: #102e5d;
	background: white;
}

#desc-tepeu-1 {
	text-align: center;
}

#desc-tepeu-1 h3{
	font-weight: lighter;
}

#tepeu-1 {
	width: 85%;
	
}

#text-desc-tepeu-1 {
	width: 85%;
	
}

.sate {
	height: 280px;
}

.cent {
	margin: auto;
	text-align: center;
}

.titulo-secc h2{
	font-weight: normal;
}

h4 {
	font-weight: lighter;
}

.mostrar {
	display: flex;
} 

.invisible {
	display: none;
}