html,body{ 
    margin:0; 
    padding:0; 
    height:100%; 
    width:100%;
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100%;
    background-image: url("images/space1.png");
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#logo {
    height: inherit;
    width: inherit;
    max-height: 50px;
    max-width: 250px;
}

#full-div{
    height:100%;
}

#logo-centro {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
}

#search-btn {
    background-image: url("images/loupe.png");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: 1px solid #ced4da;
    margin-right: 0;
    margin-bottom: 2%;
}

#search-btn:hover {
    background-color: white;
    border-color: #212529;
}

#search-text {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: 0;
    margin-bottom: 2%;
}
#search-text:focus {
    color: #212529;
    background-color: #fff;
    border-color: #ced4da;
    outline: 0;
    box-shadow: 0 0 0 0rem #212529;
}

nav {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.4);
}

.navbar {
    background-color: #1b1b1b;
    padding-top: 0;
    padding-bottom: 0%;
    padding-left: 0;
    padding-right: 0;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
  }

.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,1);
}
  
.navbar>.container-fluid>.navbar-header, .navbar>.container-fluid>.navbar-header>.navbar-brand{
    height: inherit;
} 
  
.navbar>.container-fluid {
    margin-left:  2%;
    margin-right: 2%;
    margin-top:  0%;
    margin-bottom: 0%;
    height: 100%;
}
  
.navbar-brand>img {
    height: 100%;
    width: auto;
}
  
.navbar.navbar-default {
     height: 5vh;
     min-height: 10px; 
}

#desc-prog {
    font-size: 4vh;
    text-align: center;
    width: 60%;
}

#sate {
    height: inherit;
    width: inherit;
    max-height: 280px;
    max-width: 280px;
}

#desc-container {
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 5%;
    padding-bottom: 5%;
}

#mvv-cont {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 0;
    margin-top: 0;
    align-items: center;
    height: initial;
}

.container-mvv {
    width: 28%;
}

.icon {
    max-width: 60px;
}

.text {
    text-align: center;
}

.line-sep {
    border-left: 1px ridge #383434;
    height: 30%;
    min-height: 150px;
    max-height: 200px;
}

.title {
    font-size: 150%;
}

.text {
    font-size: 100%;
    line-height: normal;
}

#sep-val {
    display: none;
}

.logo {
	max-height: 35px;
}

.logos-cont {
	margin-top: 1%;
	margin-bottom: 1%;
	width: auto;
}

.bot-sep {
	border-top: 2px solid #1f1e1e;
	width: 85%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1%;
	margin-bottom: 1%;
}

.bot-sm {
	display: none !important;
}

@media (max-width: 992px) {
    .line-sep {
        display: none;
    }

    .container-mvv {
        width: 85%;
    }

    #desc-prog {
        width: 85%;
    }

    #sep-val {
        display: block;
        width: 70%;
        border-top: 2px ridge #383434;
        margin: auto;
    }
}

@media (max-width: 768px) {
	.bot-sm {
		display: flex !important;
	}

	.bot-big {
		display: none !important;
	}
}